<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project 2</title>
  </head>
  <body>
    <input type="text" placeholder="Search for an ingredient" id="search" />
    <button id="searchBtn">Search</button>
    <div id="results">
      <ul>
        <h1>Results</h1>

        <div>sugar</div>
        <select name="measure " id=""></select>
        <input type="text" placeholder="Amount" id="amount" />
        <button id="ingredientAdd">Add</button>
      </ul>

      <ul id="recipeList">
        <h1>Recipe test</h1>
        <li>placeholder ingredient</li>
      </ul>
    </div>
  </body>
</html>
