<div>
{{#each recipes as |recipe|}}
  <div class="row justify-content-center mb-5">
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-8 bg-light p-4 pb-2 card">
      <a href="/api/recipe/{{recipe.id}}">
      <h2> {{recipe.title}}</h2>
      </a>
      <p>{{recipe.description}}</p>
      <button data-index="${i}" class="btn btn-sm btn-danger deleteRecipeButton" id="{{recipe.id}}">Delete Recipe</button>
    </div>

 
    </div>
{{/each}}
</div>

<script src="/js/deleteRecipe.js"></script>