<div class="container>">
  {{#if noRecipe}}
  <div class="row jumbotron p-5 justify-content-center">
    <div class="col-10 text-center">
      <img src="/assets/cuttingboard-02.png" width="200px">
      </div>
      <div class="col-8 text-center mt-5">
      <h1>Welcome home.</h1>
      <p class="fs-3">RecipeDB is a database for your favorite family recipes. Click the New Recipe button to add your first recipe!
      </p>
      </div>
    </div>
  {{/if}}
</div>

<div>
{{#each recipes as |recipe|}}
  <div class="row justify-content-center mb-3">
    <div class="col-sm-12 col-md-10 col-lg-8 col-xl-8 bg-light p-4 pb-2 card">
      <a href="/api/recipe/{{recipe.id}}">
      <h2> {{recipe.title}}</h2>
      </a>
      <p>{{recipe.description}}</p>
      <button data-index="${i}" class="btn btn-sm btn-danger deleteRecipeButton" id="{{recipe.id}}">Delete Recipe</button>
    </div>

 
    </div>
{{/each}}
</div>

<script src="/js/deleteRecipe.js"></script>