<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <h2>Add Recipe</h2>

            <form class="form recipe-form form-control">
                <div class="form-group">
                    <div class="form-group">
                        <label for="recipe-title" class="form-label">Title</label>
                        <input class="form-control" type="text" id="username-signup" />
                    </div>
                    <label for="recipe-description" class="form-label">Description</label>
                    <textarea class="form-control" type="text" id="recipe-description" /></textarea>
                    <div class="form-control mt-3 pb-3">
                        <label for="recipe-ingredients" class="form-label">Ingredients</label>
                        <select class="form-select mb-2" aria-label="Default select example">
                            <option selected>Cheddar</option>
                            <option value="1">Cheddar (Mild)</option>
                            <option value="2">Cheddar (Sharp)</option>
                            <option value="3">Cheddar (Extra Sharp)</option>
                        </select>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Add Ingredient</option>
                            <option value="1">Clams</option>
                            <option value="2">Cow's Milk</option>
                            <option value="3">Catsup</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn btn-primary mt-3 mb-2" type="submit">Publish</button>
                    <button class="btn btn btn-secondary mt-3 mb-2" type="submit">Save as Draft</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/login.js"></script>