<div class="container-fluid">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h2>Add Recipe</h2>

            <form id="recipeForm" class="form recipe-form form-control">
                <div class="form-group">
                    <div class="form-group">
                        <label for="recipe-title" class="form-label">Title</label>
                        <input class="form-control" type="text" id="recipeName" />
                    </div>
                    <label for="recipe-description" class="form-label">Description</label>
                    <textarea class="form-control" type="text" id="recipeDescription"></textarea>
                    <div class="form-control mt-3 pb-3 bg-light">

                        <label for="recipe-ingredients" class="form-label">Ingredients</label>
                        <input class="form-control mb-2" type="text" id="searchIngredient">

                        <div class="row">
                            <div class="col">
                                <input type="select" class="form-control" placeholder="Unit of Measure">
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Quantity">
                            </div>
                            <div>
                            <button class="btn btn btn-secondary mt-3" id="addIngredient">Add Ingredient</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Ingredient Name</th>
                                <th scope="col">Unit of Measure</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="align-middle">
                                <td>Butter</td>
                                <td>Tablespoon</td>
                                <td>2</td>
                                <td><button class="btn btn-sm btn-danger">Remove</button></td>
                            </tr>
                            <tr class="align-middle">
                                <td>Sugar</td>
                                <td>Cup</td>
                                <td>3</td>
                                <td><button class="btn btn-sm btn-danger">Remove</button></td>
                            </tr>
                            <tr class="align-middle">
                                <td>Chocolate Chips</td>
                                <td>Cup</td>
                                <td>1</td>
                                <td><button class="btn btn-sm btn-danger">Remove</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-group">
                    <button class="btn btn btn-light mt-3 mb-2" type="submit">Save as Draft</button>
                    <button id="publish" class="btn btn btn-primary mt-3 mb-2" type="submit">Publish</button>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="/js/ingredientAdd.js"></script>