<div class="container">
  <div class="row">

    <div class="col-6">
      <h2 class="recipeTitle">Recipe Title</h2>
      <p class="recipeDescription">Recipe Description</p>

      <div class="added-Ingredients col-6">
        <ul>
          <li>Ingredient 1</li>
          <li>Ingredient 2</li>
        </ul>
      </div>

    </div>
  </div>
</div>